#button{
    display:flex;
    justify-content: space-around;
}

#galerie{
    padding: 10px;
    /* max-width: 1280px; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

#galerie img{
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1/1;
}
